@font-face {
    font-family: "WiredMono";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Bold.woff2) format("woff2")
}

@font-face {
    font-family: "WiredMono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Regular.woff2) format("woff2")
}

@font-face {
    font-family: "WiredMono";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Light.woff2) format("woff2")
}

* {
    margin: 0;
    padding: 0;
    user-select: none !important;
}

html {
    background-color: #fff; 
}

body {
    background-color: #000000ee; 
    color: #ffffffcc;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "WiredMono";
    font-variant-caps: small-caps;
    font-weight: 300;
}

span {
    font-weight: 400;
    color: #a8071ecc;
    padding: 0 0.5em;
}
