
* {
    margin: 0;
    padding: 0;
    /* user-select: none !important; */
}

@keyframes turn-tao {
    0% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    60% {
        background-color: white;
        background-image: none;
    }
    80% {
        background-color: white;
    }
    100% {
        background-image: url("images/tao.png");
    }
}


body {
    background-position: center;
    animation: turn-tao 10s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffcc;
}

@font-face {
    font-family: "WiredMono";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Bold.woff2) format("woff2")
}

@font-face {
    font-family: "WiredMono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Regular.woff2) format("woff2")
}

@font-face {
    font-family: "WiredMono";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Light.woff2) format("woff2")
}

h1 {
    font-family: "WiredMono";
    font-variant-caps: small-caps;
    font-weight: 400;
}

h1::selection {
    color: #000;
    font-weight: 700;
}

span {
    font-weight: 400;
    color: #a8071ecc;
    padding: 0 0.5em;
    user-select: none !important;
}
